*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 100vh;
}
.video-background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
@media (min-aspect-ratio:16/9){
    .video-background{
        width: auto;
        height: 100%;
    }
}
.header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.text{
    text-align: center;
    padding: 30 px;
    margin-top: 25%;
    width: 500px;
    color:#111;
    background: transparent;
    background-color: rgba(255,255,255, .2);
}
.portada{
    max-width: 100%;
    height: auto;
    position: center;
}
