<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="style.css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Palanquin&display=swap" rel="stylesheet">
    <title>Get constructive</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
    </style>
  </head>
  <body>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->

    <!-- NAV BAR -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="images/Logo.png" alt="" width="50" height="50" class="d-inline-block align-text-middle">
            Get constructive</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#Description">Descripción</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#Play">Como Jugar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/videogame">Videojuego</a>
              </li>
              <!--
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Acerca de Nosotros </a>
              </li>-->
            </ul>
            <div class="flex-shrink-0 dropdown">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="images/user_pic.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu dropdown-menu-end text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" onclick="userId()" id="Perfil" >Perfil</a></li>
                <li><a class="dropdown-item" href="#">Ajustes</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/login">Cerrar sesión</a></li>
              </ul>
            </div>
            
          </div>
        </div>
    </nav> 
    <!--<div class="welcome-msg">
        <h1>Get <br> Constructive</h1>
      </div>-->

    <section class="header">
      <video autoplay loop class="video-background" muted plays-inline>
        <source src="images/Portada_vid.mp4" type="video/mp4"> 
      </video>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="display-2 fw-bold" style="font-family: Lato;">Get <br> Constructive</h1>
            <p class="mt-4 lead text-muted"> Crea tu ciudad personalizada y mejorala con tu <br> <strong> productividad </strong> en el trabajo</p>
          </div>
        </div>
      </section>
  
    </section>

  
    <!-- Three columns of text -->
    <div class="container mt-5 overflow-hidden d-flex align-items-center" id="Description" style="height: 700px;">
      <div class="row mx-auto gx-5">
        <div class="col-lg-4">
          <div class="mt-5 text-center">
            <img src="images/img_1.png" class="img-fluid" alt="">
          </div>
          <div class="p-0 mt-5 text-center">
            <h2>Descripción</h2>
            <p class="fs-5 lh-base"> CEMEX nos ha pedido generar un modelo gamificado que represente las principales actividades 
              que contribuyen a la velocidad y calidad de los equipos de desarrollo. </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mt-5 text-center">
            <img src="images/img_2.png" class="img-fluid" alt="">
          </div>
          <div class="p-0 mt-5 text-center">
            <h2>Objetivo</h2>
          <p class="fs-5 lh-base">Un prototipo funcional del modelo de gamificación propuesto, que utilizará datos sanitizados de la empresa.
            Con el proposito de motivar y aumentra el rendimiento de los usuarios. 
          </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mt-5 text-center">
            <img src="images/img_3.png" class="img-fluid" alt="">
          </div>
          <div class="p-0 my-5 text-center">
            <h2>Herramientas</h2>
            <p class="fs-5 lh-base">Nuestro videojuego tendrá una temática de construcción de una ciudad, con una dimensión 3D.
              El videojuego será desarrollado con la herramienta Unity, en una versión web.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="container mt-5 overflow-hidden d-flex align-items-center" id="Description" style="height: 500px;">
      <div class="row featurette" id="Play">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Técnica de juego</h2>
          <p class="lead">Para una empresa como Cemex todo está relacionado con la construcción. Por esta razón decidimos crear un mundo en el cual la construcción es lo más importante. <br>
            El objetivo del juego es ir mejorando tu ciudad y compararla con las ciudades de tus compañeros. De esta manera pueden medir de manera visual la diferencia entre sus KPIs.</p>
        </div>
        <div class="col">
          <img src="images/Board.png" style="width: auto; height: auto;" class="img-fluid" alt="">
        </div>
      </div>
    </div>

    <!--<div class="b-example-divider"></div>-->

    <div class="container py-5" id="Goals">
      <div class="row g-5 py-5">
        <div class="feature col-md-4">
          <div class="mt-5 text-center">
            <img src="images/icono1.png" class="img-fluid" alt="">
          </div>
          <h2>Cuenta de Dinero</h2>
          <p>Empezarás con una cuenta vacía de dinero. ¿Cómo empezar a ganar dinero? Tendrás que continuar con tus tareas asignadas en el sistema de Jira. </p>
        </div>
        <div class="feature col-md-4">
          <div class="mt-5 text-center">
            <img src="images/icono3.png" class="img-fluid" alt="">
          </div>
          <h2>Mejora tus KPI's</h2>
          <p>Cada vez que vayas acabando una tarea se calcularán los siguientes KPI's: <br> 1. On time Completion Percentage 
            <br> 2. Planned hours vs. Time Spent
            <p class="fw-bold fst-italic"> Si estos aumentan tu dinero tambien lo hará!! </p>
          </p>
        </div>
        <div class="feature col-md-4">
          <div class="mt-5 text-center">
            <img src="images/icono4.png" class="img-fluid" alt="">
          </div>
          <h2>Tienda de Edificios</h2>
          <p>Cuando ya tengas una buena cantidad de dinero en tu cuenta, podrás ir a la tienda a echarle un vistazo a los edificios 
            disponibles que puedes comprar</p>
        </div>
      </div>
    </div>


      
  </body>
  <script>
    function userId() {

    const id = window.localStorage.getItem('id');
    const token = window.localStorage.getItem('token');

      window.location = `http://localhost:5000/profile/${id}/${token}`
    
  
  }

  </script>

</html>